* {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background: yellow;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
h1,
h2 {
  margin: 0;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-right {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.container-left {
  margin: 10px 0;
}

.container-right {
  width: 100%;
  text-align: center;
}
.container-right > div > h1 {
  padding: 1rem 0;
}

.form-box {
  text-align: center;
}

.required-label {
  padding: auto;
}
